{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock title %}

{% block content %}
    <h1>You have 4 Warehouse</h1>
    <div class="mt-4 d-flex gap-2">
        {% for warehouse in warehouses %}
            <div class="card p-4">
                <h2 class="mb-4">{{ warehouse.name }}</h2>
                <p>Location: {{ warehouse.location }}</p>
                <p>Full Location: {{ warehouse.full_location }}</p>
                <p>Capacity: {{ warehouse.capacity }}</p>
                <p>Manager: {{ warehouse.manager.first_name }} {{ warehouse.manager.last_name }}</p>
            </div>
        {% endfor %}

    </div>
{% endblock content %}
