<footer class="flex justify-center mt-auto">
    <div class="flex max-w-[960px] flex-1 flex-col">
        <footer class="flex flex-col gap-6 px-5 pt-10 pb-3 text-center @container">
            <div class="flex flex-wrap items-center justify-center gap-6 @[480px]:flex-row @[480px]:justify-around">
                <a class="text-[#637488] text-base font-normal leading-normal min-w-40" href="#">About</a>
                <a class="text-[#637488] text-base font-normal leading-normal min-w-40" href="#">Contact</a>
                <a class="text-[#637488] text-base font-normal leading-normal min-w-40" href="#">Privacy Policy</a>
            </div>
            <p class="text-[#637488] text-base font-normal leading-normal">@2024 EduStock. All rights reserved.</p>
        </footer>
    </div>
</footer>